.profile-page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.profile-page-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: #343a40;
  box-sizing: border-box;
}

.profile-header h1 {
  font-size: 24px;
  font-weight: 500;
}

.profile-details {
  width: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.profile-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.profile-item label {
  font-size: 16px;
  font-weight: bold; /* Matches the TransferPage label styling */
  margin-bottom: 5px;
  color: #495057;
}

.profile-text {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #495057;
  box-sizing: border-box; /* Ensures consistent sizing */
}

.profile-key {
  word-break: break-all;
}
