.login-container {
  background-image: url('../assets/signin-assets/rene-bohmer-YeUVDKZWSZ4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.left-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.question-text {
  color: black;
}

.poll-text {
  color: rgb(219, 140, 12);
}

.login-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.login-heading {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 30px;
  color: black;
}

.highlight {
  color: rgb(219, 140, 12);
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-label {
  position: absolute;
  top: -8px;
  left: 10px;
  color: #aaa;
  font-size: 0.9rem;
  background-color: white;
  padding: 0 5px;
}

.input-field {
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}


.input-field::placeholder {
  font-size: 1rem;
  color: #aaa;
}

.login-btn {
  background-color: black;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 26px;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 900;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #333;
}

.register-box {
  text-align: left;
  padding: 20px;
}

.no-account-text {
  color: black;
  font-size: 1rem;
  margin-bottom: 10px;
}

.create-account-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
}

.create-account-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.create-account-link:hover {
  color: black;
  text-decoration: none;
}

.image-section {
  width: 65%;
}

.abstract-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.modal-content h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.4;
}

.download-btn, .close-btn {
  margin: 10px;
  padding: 12px 20px;
  font-size: 1em;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.download-btn {
  background-color: #111111; /* Blue button for downloads */
}

.download-btn:hover {
  background-color: #333333; /* Darker blue on hover */
}

.close-btn {
  background-color: #111111; /* Green button for closing */
}

.close-btn:hover {
  background-color: #333333; /* Darker green on hover */
}

@media (max-width: 500px) {
  .modal-content {
    width: 90%;
    padding: 20px;
  }

  .modal-content h2 {
    font-size: 1.3em;
  }

  .modal-content p {
    font-size: 0.9em;
  }

  .download-btn, .close-btn {
    font-size: 0.9em;
    padding: 10px 15px;
  }
}