.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

.toolbar-link {
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none; 
  cursor: pointer;
}

.toolbar-link:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  margin-left: auto;
}

.logout-button {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.logout-button:hover {
  background-color: #f39c12;
}
